body {
	margin: 0px;
	padding: 0px;
}

#main {
	position: relative;
	padding: 20px;
	margin: 20px auto;
	width: 390px; 
	height: 500px;
	font-size: 12px;
	font-family: Arial;
	border: 1px solid #ccc; 
	text-align: center;
	background: #eee;
}

#output, #input_button, #load_example {
	background: #f5f5f5;
	cursor: default;
	width: 343px;
	height: 20px;
	padding: 10px;
	text-align: center;
	margin: 5px auto;
	border: 1px solid gray;
	line-height: 20px;
}

#input {
	text-align: left;
	width: 331px;
	max-width: 331px;
	min-width: 331px;
	max-height: 305px;
	min-height: 60px;
	height: 305px;
	padding: 12px 16px;
	margin: 5px auto;
	border: 1px solid gray;
	font-family: 'courier new';
	font-size: 11px;
	/*overflow: hidden;*/
}

#input_button, #load_example {
	cursor: pointer;
}

#title {
	position: absolute;
	font-size: 11px;
	bottom: 5px;
	right: 5px;
	color: #b5b5b5;
	cursor: default;
	text-shadow: -1px -1px 0px white;
}

#progress {
	background: white;
	color: red;
	position: absolute;
	top: 8px;
	left: 39px;
	width: 260px;
	height: 7px;
	border: 1px solid gray;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}
